*{
    font-family: Arial, Helvetica, sans-serif;
}
.invoice-container{
    input{
        width: 170px;
        height:25px;
        color: #191919;
        border-radius: 5px;

        border: 2px dashed rgb(35, 149, 255);
    }
    display:flex;
    flex-direction: column;
    gap:10px;
    .title{
        padding-top:5px;
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items:center;

        h1{

        }
        p{
            color: #9b9b9b;
        }
    }
    
    .main-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        gap:20px;
        .outline{
            width: 804px;
            height:1132px;
            border: 5px solid rgb(104, 210, 255);
            border-style: dashed;
            border-radius:15px;
        }
        #invoice-preview{
            display:flex;
            flex-direction: column;
            width: 794px;
            height: 1122px;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            padding: 50px 20px;
            .headers{
                display:flex;
                align-items:end;
                flex-direction:column;
                gap: 0px;
                h1{
                    color:#191919;
                    font-weight:550;
                    font-size: 40px;
                    padding-bottom: 20px;
                }
            }
            hr{
                border: 1px solid #191919;
                margin:20px 0px;
            }
            .invoice-info{
                width:100%;
                display:flex;
                justify-content: space-between;
                .company{
                    width:30%;
                    display: flex;
                    flex-direction: column;
                    gap:5px;
                    input:nth-child(2){
                        width:250px;
                    }
                }
                .invoice-details{
                    display: flex;
                    flex-direction: column;
                    gap:0px;
                    div{
                        display:flex;
                        align-items:center;
                        justify-content: space-between;
                        h2{
                            font-size:15px;
                            color:black;
                        }
                        p{
                            color:black;
                            padding-right:40px;
                        }
                    }
                }
            }
            #work-info{
                hr{
                    border: 0.5px solid black;
                }
                display:flex;
                flex-direction:column;
                width:100%;
                .headings{
                    display:flex;
                    h2{
                        color:#191919;
                        font-size:15px;
                        padding-left:50px;
                    }
                    h2:nth-child(1){
                        width: 265px;
                        padding-left:0;
                    }
                }
                .items{
                    display: flex;
                    p{
                        color: black;
                        width:50px;
                        margin-left:45px;
                    }
                    p:nth-child(1){
                        width: 265px;
                        margin-left:0px;
                    }
                    input{
                        width:50px;
                        margin-left:45px;
                    }
                    input:nth-child(1){
                        width: 265px;
                        margin-left:0px;
                    }
                }
                
            }

            .footer-info{
                width:100%;
                display: flex;
                justify-content:end;
                p{
                    color:black;
                }
                h4{
                    color:black;
                    padding-right: 100px;
                }
            }
            .bottom-container{
                flex-grow:1;
                display:flex;
                align-items:end;

                .bank-details{
                
                h2{
                color: #191919;
                }
                div p{
                    color: #191919;
                }
            }
            }
            
        }

        .button-container{ 
            width:100%;
            height:100px;
            display:flex;
            justify-content:center;
            gap:10px;
            button{
                width:150px;
                height:60px;
                border-radius: 10px;
                border:2px solid white;
                background: rgb(255, 63, 63);
                display:flex;
                justify-content:center;
                align-items:center;
                box-shadow: 0px 4px 0px rgba(255, 63, 63, 0.8);
                img{
                    width:40px;
                    height:40px;
                    filter:none;
                }
                font-size:20px;
                font-weight:bold;
            }
            button:nth-child(2){
                width:60px;
                background: rgb(255, 226, 63);
                box-shadow: 0px 4px 0px rgb(255, 226, 63, 0.8);
                img{
                    filter: brightness(10)
                }
            }

            button:hover{
                background: rgb(255, 95, 95);
            }
            button:nth-child(2):hover{
                background: rgb(255, 231, 97);
            }
            button:active{
                background-color: red;
            }
            button:hover{
                background: rgb(255, 95, 95);
            }
        }
    }
}


#add-item{
    width:40px;
    height:40px;
    background: none;
    border: none;
    align-self:end;
    img{
        filter:none;
        object-fit: fill;
        width:40px;
        height:40px;
    }
    img:hover{
        filter: invert(0.5) sepia(1) saturate(3) hue-rotate(60deg) brightness(1.2);
        cursor:pointer;
    }
}
#add-item:active{
    img{
        filter: invert(0.5) sepia(1) saturate(3) hue-rotate(60deg);

    }
}