@font-face{
    font-family: "AbrilFatFace";
    src: url("/fonts/AbrilFatFace-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aclonica";
    src: url("/fonts/Aclonica/Aclonica-Regular.ttf");
}
@font-face {
    font-family: "BagelFat";
    src: url("/fonts/BagelFat/BagelFatOne-Regular.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat.ttf");
}


.game-container{
    width: 100%;
    height: 100%;
    .heading{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-family: "AbrilFatFace";
            font-size: 40px;
        }
    }
    .game-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.game-card-body{
    .content:hover{
        background-color: rgb(0, 0, 0,0.6);
    }
}

@media(max-width: 600px){
    .game-card-body{
        width: 450px;
        height: 10px;
    }
}







/* MEWO */

.meow-main-container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    gap: 50px;
    flex-direction: column;
    h1{
        color: black;
    }
    .header{
        
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            color: rgb(161, 161, 161);
        }
    }
    #main-container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .image-container{
            width: 400px;
            height: 450px;
            border: 2px solid rgb(0, 110, 255);
            box-shadow: 0px 0px 0px 4px rgba(73, 137, 255, 0.276);
            border-radius: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 20px;
            }
        }
        .input-container{
            width: 400px;
            display: flex;
            gap: 10px;
            input{
                flex: 1;
                border-radius: 15px;
                border: 2px solid rgb(0, 110, 255);
                box-shadow: 0px 0px 0px 4px rgba(73, 137, 255, 0.276);
                color: black;
                padding-left: 20px;
                font-size: 18px;
            }
            input:hover{
                background-color: rgb(244, 248, 255);
            }
            button{
                width: 80px;
                height: 50px;
                border-radius: 10px;
                font-size: 15px;
                font-weight: bold;
                border: 2px solid rgb(104, 157, 255);
                background-color: rgb(0, 110, 255);
            }
            button:hover{
                background-color: rgb(0, 95, 220);
            }
            button:active{
                background-color: rgb(0, 74, 170);
            }
        }

        .cat-image{
            position:absolute;
            width: 400px;
            height: 450px;
            border: 2px solid rgb(255, 183, 0);
            box-shadow: 0px 0px 0px 4px rgba(255, 191, 73, 0.276);
            border-radius: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 20px;
            }
        }
    }
}